*~
*.d
*.o
a.out
tmp.s
core
,*
.#*
.vscode
/as
/cc1
/cpp
/gen2*
/gen3*
/ld
/xcc
/tests/core.*
/tests/dvaltest
/tests/fvaltest
/tests/link_test
/tests/mandelbrot.ppm
/tests/parser_test
/tests/print_type_test
/tests/table_test
/tests/util_test
/tests/valtest
/dump_expr
/dump_ir
/dump_type
/gh-pages/
