*~
*.d
*.o
a.out
tmp.s
core
,*
.#*
.vscode
/as
/cc1
/cpp
/gen2
/gen3
/xcc
/tests/core.*
/tests/dvaltest
/tests/fvaltest
/tests/link_test
/tests/parser_test
/tests/print_type_test
/tests/table_test
/tests/util_test
/tests/valtest
/debug/dump_expr
/debug/dump_ir
/debug/dump_type
