*~
*.a
*.d
*.o
a.out
a.s
tmp*
core
,*
.#*
.vscode
/as
/cc1
/cpp
/gen2*
/gen3*
/ld
/xcc
/obj
/lib
/tests/core.*
/tests/dvaltest
/tests/fvaltest
/tests/initializer_test
/tests/link_test
/tests/mandelbrot.ppm
/tests/parser_test
/tests/print_type_test
/tests/table_test
/tests/util_test
/tests/valtest
/dump_expr*
/dump_ir*
/dump_type*

/tests/thirdparty/.external/

### wasm

*.wasm
/wcc
/wcc-ld
/cc.wasm
/gen3cc.wasm
/tests/*.wasm

/public/
/release/
node_modules
