$BG_COLOR: #ddd;
$DURATION: 0.25s;
$HEADER_HEIGHT: 32px;

@mixin _full-size() {
  width: 100%;
  height: 100%;
}

html, body {
  @include _full-size();
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: $BG_COLOR;
  overflow: hidden;
}

.full-size {
  @include _full-size();
}

.clear-fix:after{
  clear: both;
}

.header {
  position: absolute;
  top: 0;
  height: $HEADER_HEIGHT;
  left: 0;
  right: 0;
  padding: 2px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #444;
}

.editor {
  position: absolute;
  top: $HEADER_HEIGHT;
  bottom: 0;
  left: 0;
  right: 0;
}

.run-btn {
  background-color: #14f;
  color: white;
  border: 1px solid #008;
  border-radius: 4px;
  padding: 2px 12px;

  &:hover {
    // background-color: #44f;
    color: #4ff;
  }
}

.wnd {
  position: absolute;
  border: solid 4px #333;
  border-radius: 4px;
  transition-duration: $DURATION;
  transition-property: border-color;

  &:hover {
    border-color: #aaa;
  }
}

.draggable {
  cursor: move;
}

.close-button {
  background-color: #aaa;
  color: #333;
  font-size: 8px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  line-height: 12px;
  border-radius: 1px;
  text-align: center;
  transition-duration: $DURATION;
  &:after {
    content: "X";
  }

  &:hover {
    background-color: red;
    color: white;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
  }
}

.code-editor {
  .ace_cursor {
    border: 1px rgba(50,250,50,0.8) solid!important;
    box-sizing: border-box!important;
    background-color: rgba(0,250,0,0.5);
    opacity: 0.5;
  }
  .ace_hidden-cursors .ace_cursor {
    opacity: 1;
    background-color: transparent;
  }
}

.sysmenu-container {
  position: absolute;
  backdrop-filter:blur(1.5px);

  .sysmenu-body {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 8px 16px;

    h4 {
      margin: 8px 0 0 0;
    }
  }
}

.nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 4px;
}

.nav-open span, .nav-open span:before, .nav-open span:after {
  position: absolute;
  height: 2px;
  width: 25px;
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
}
.nav-open span:before {
  bottom: -8px;
}
.nav-open span:after {
  bottom: -16px;
}
